<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web> 
  
      <appSettings>
        <!--CONFIGURACIÓN PARA ENVIO DE CORREOS -->
    <add key="destinatarios" value="lnavarro@merza.com"/>        
    <add key="user" value="info@formas.mx"/>
    <add key="pass" value="formaspol"/>    
    <add key="host" value="172.16.0.3"/>
    <add key="puerto" value="25"/>
    <add key="ssl" value="0"/>
  </appSettings>

</configuration>
